@media screen and (max-width:1450px) {
    .container-fluid {
        min-width: 1024px;
    }
    .table_page td:first-child {
        width: auto;
    }
    .content_main {
        padding-left: 410px;
    }
    .item_nav__header {
        padding: 0 8px;
        font-size: 12px;
    }
    .home_link {
        margin-right: 10px;
    }
    .item_nav__header:hover, .item_nav__header.active, .item_nav__header:hover .link_menu__header, .item_nav__header.active .link_menu__header {
        font-size: 12px;
    }
    .link_menu__header {
        font-size: 12px;
    }
    .menu_right__header{
        margin-right: 15px;
        font-size: 12px;
    }
    .link_cart__header,.link_opov__header,.link_global__header,.link_exit__header{
        margin-right: 10px;
    }
    .info_block_right__balance{
        padding: 40px 55px;
    }
    
}
@media screen and (max-width:1169px) {
    .add_to_cart_-table{
        min-width: 95px;
        margin-left: 5px;
    }
    .content_main{
        padding-left: 305px;
    }
    .sitebar_left{
        width: 290px;
    }
    .title__sitebar{
        font-size: 14px;
    }
    .text_info__sitebar{
        font-size: 12px;
    }
    .yellow_text__sitebar{
        font-size: 12px;
    }
    .item_nav__header{
        line-height: normal;
        display: block;
        min-height: 72px;
        padding-top: 25px;
        text-align: center;
    }.menu_right__header{
        min-width: 75px;
    }
    .item_nav__header:hover, .item_nav__header.active{
        line-height: normal;
    }
}